.navbar-item img {
  max-height: 5.75rem;
}
.navbar-brand {
  margin-bottom: 0.5rem;
}

.legals h4, .legals h5, .legals h2 {
  padding: 1rem;
  font-weight: 800;
  color: rgb(248,165,0);
  font-family: "Courgette";
  font-size: 150%;
}

.legals p, .legals li {
  padding-left: 1rem;
  padding-right: 1rem;
}

div .x-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


.bodyclass {
  padding-top: 2cm;
  padding-left: 2cm;
  padding-right: 1cm; 
}


.bodyclass .logo {
  background-image: url("./components/App/logo.jpg");
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
  height: 300px;
  /* ./logo.jpg */
}